@model IEnumerable<jfe_application.SiteCall>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.datetimeCall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.largestCases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.display)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentCases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total750mlCold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schematicFacings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coldBox)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cbf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesReps.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classification.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stores.storeid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand.brand1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand1.brand1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.datetimeCall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.largestCases)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coverage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.display)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentCases)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total750mlCold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schematicFacings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coldBox)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cbf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesReps.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classification.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stores.storeid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.brand1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand1.brand1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
